@media only screen and (max-width: 1024px) {
  .filter {
    position: static !important;
  }
  .paper {
    margin: 25px;
  }
}

@media only screen and (max-width: 768px) {
  .filter {
    width: 300px;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
  .paper {
    width: 300px !important;
  }
}
